<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>610101</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>市辖区</string>
		<key>desc</key>
		<string>西安市-市辖区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610102</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>新城区</string>
		<key>desc</key>
		<string>西安市-新城区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610103</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>碑林区</string>
		<key>desc</key>
		<string>西安市-碑林区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610104</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>莲湖区</string>
		<key>desc</key>
		<string>西安市-莲湖区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610111</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>灞桥区</string>
		<key>desc</key>
		<string>西安市-灞桥区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610112</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>未央区</string>
		<key>desc</key>
		<string>西安市-未央区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610113</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>雁塔区</string>
		<key>desc</key>
		<string>西安市-雁塔区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610114</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>阎良区</string>
		<key>desc</key>
		<string>西安市-阎良区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610115</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>临潼区</string>
		<key>desc</key>
		<string>西安市-临潼区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610116</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>长安区</string>
		<key>desc</key>
		<string>西安市-长安区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610122</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>蓝田县</string>
		<key>desc</key>
		<string>西安市-蓝田县</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610124</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>周至县</string>
		<key>desc</key>
		<string>西安市-周至县</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610125</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>户县</string>
		<key>desc</key>
		<string>西安市-户县</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610126</string>
		<key>city</key>
		<string>西安市</string>
		<key>area</key>
		<string>高陵县</string>
		<key>desc</key>
		<string>西安市-高陵县</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610201</string>
		<key>city</key>
		<string>铜川市</string>
		<key>area</key>
		<string>市辖区</string>
		<key>desc</key>
		<string>西安市-市辖区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610202</string>
		<key>city</key>
		<string>铜川市</string>
		<key>area</key>
		<string>王益区</string>
		<key>desc</key>
		<string>西安市-王益区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610203</string>
		<key>city</key>
		<string>铜川市</string>
		<key>area</key>
		<string>印台区</string>
		<key>desc</key>
		<string>西安市-印台区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610204</string>
		<key>city</key>
		<string>铜川市</string>
		<key>area</key>
		<string>耀州区</string>
		<key>desc</key>
		<string>西安市-耀州区</string>
		<key>show</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>610222</string>
		<key>city</key>
		<string>铜川市</string>
		<key>area</key>
		<string>宜君县</string>
		<key>desc</key>
		<string>西安市-宜君县</string>
		<key>show</key>
		<string>1</string>
	</dict>
</array>
</plist>
